.card-reveal .ativo{
    display: block;
    transform: translateY(-100%);
}
.auau {
    display: flex;
  flex-wrap: wrap;
    max-width: 360;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3);
    background-color: #251717;
    height: 550;
}
.imagem-correto{
    height: 280;
}