
/* NoticiaCard */
.estilo-texto{
    text-align: center;
}

/* NoticiasCorpo */
.imagem-ny{
    background: url('../Imagem/images.png') no-repeat center;
    height: calc(30vh - 2px);
}
.conteudo{
  padding-bottom: 60
}
@media only screen and (max-width: 600px) {
    .imagem-ny{
        opacity: 0;
        position: absolute;
    }
}

/* Cabecalho */
@media only screen and (min-width: 993px) {
    .botao-escondido {
        display: none !important; 
        opacity: 100;
    }
}
.botao-escondido{
    text-align: center;
}
.botao {
    margin: 0 2px 0 2px ;
}

/* RODAPE */
.container{
    padding-bottom: 20px;
}